<%= form_for @listing do |u| %>

<p>
  New Title : <%= u.text_field :title %></br>
  New Price : <%= u.number_field :price %>
  New Tags : <%= u.text_field :all_tags %>
  New Max_guests : <%= u.number_field :max_guests %>
</p>

<%= u.submit %>
<% end %>
