<table>

  <tr>
    <th> Title </th>
    <th> Price </th>
    <th> Taggings </th>
    <th> Max_guests </th>
  </tr>

  <tr>
    <td><%= @listing.title %></td>
    <td><%= @listing.price %></td>
    <td><%= @listing.all_tags %></td>
    <td><%= @listing.max_guests %></td>
  </tr>


</table>


<%= render 'form' %>
